html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.jb-font{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: bold;
}
.footer{
    background-image: linear-gradient(to top,  #080a6780 20%, #17a2b8 100%);
}
.navbar{
    background-image: black;
    font-size: 23px;  
}
.navbar li:hover { 
    font-size: 21px;
    border-bottom: #666 solid 2px;
    display: block;
  }
.mapa{
    padding: 20px 0 20px 0;
    text-align: center;
}

.bg-img{
    background: url('../img/wall9.png') no-repeat; 
    background-size: cover;
}
